[databases]
* = host={{ ansible_host }} port=5432 auth_user=postgres

[pgbouncer]

logfile = /var/log/postgresql/pgbouncer.log
pidfile = /var/run/postgresql/pgbouncer.pid
listen_addr = *
listen_port = 6432
unix_socket_dir = /var/run/postgresql
auth_type = scram-sha-256
auth_file = /etc/pgbouncer/userlist.txt
auth_query = SELECT * FROM pgbouncer.get_auth($1)
admin_users = pgbouncer
stats_users = stats, postgres
pool_mode = session
server_check_query = select 1
server_reset_query = DEALLOCATE ALL
server_reset_query_always = 0
max_client_conn = 5000
min_pool_size = 0
default_pool_size = 3500
max_db_connections = 4000
max_user_connections = 3500